{% extends "base.html" %}

{% block content %}

<h3> test </h3>

<h1>Solar Energy Principles</h1>
<p>Solar panels convert sunlight into electricity through the photovoltaic effect. Key considerations for solar installations include:</p>
<ul>
    <li>Daily energy consumption</li>
    <li>Sunlight hours available</li>
    <li>Battery storage for nighttime use</li>
    <li>System efficiency and losses</li>
</ul>

we will take the value of 4.5 hours 

<a href='sunhours.html'> explanation why here </a>




{% endblock %}
